.circular{
    width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        font-size: 20px;
        box-shadow: 0px 3px 5px rgba(168, 168, 168, 0.38);
        line-height: 0;
}

body{
    background-color: rgb(30,0,77);
    font-family: "Montserrat", sans-serif;
    ;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.content{
    padding: 20px;
}

.tasks_table{   
    background-color: rgb(239, 239, 239);
    width: 60%;
    /* height: 500px; */
    margin-top:130px;
    border-radius: 3px;

}


.header{
    width: 100%;
    text-align: center;
    background-color: rgb(92, 52, 155);
    color: white;
    padding-top:8px ;
    padding-bottom:8px ;
    
    & h1{
        display: inline;
    }
    & .add{
        float: right;
        background-color: white;
        margin-right: 10px;
        cursor: pointer;
    }
}


.content__task{
    display: flex;
    background-color:white ;
    padding: 4px;
    border-bottom: 3px solid rgb(66, 142, 167);
    border-radius: 3px;
    transition:.3s;
    margin-bottom: 5px;
}
.content__task:hover{
    box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.843);
}

    .task-info{
        width: 70%;
        margin-right: 10px;
        /* background-color: white; */
        .task-info-date{
            color: rgb(140, 18, 18);
            position: relative;
            top: -10px;
            
            .material-symbols-outlined{
                position: relative;
                top: 5px;
            }
            
        }
        
    }
   

    .task-actions{
        display: flex;
        justify-content: space-between;
        width: 20%;
        align-items: center;
        
        button:first-child{
            background-color:rgb(114, 0, 0) ;
            color: white;
            cursor: pointer;

        }
        
        button:nth-child(2){
            background-color:rgb(0  , 150, 30) ;
            color: white;
            cursor: pointer;

        }
        button:nth-child(3){
            background-color:rgb(0  , 16, 179,0.692) ;
            color: white;
            cursor: pointer;
        }
    }


    /* //for toggle */

    .done{
        background-color: rgb(158, 253, 160);
    }
    
.done-butt{
    background-color: white;
    color: red;
}